@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kggxtd');
  src:  url('fonts/icomoon.eot?kggxtd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kggxtd') format('truetype'),
    url('fonts/icomoon.woff?kggxtd') format('woff'),
    url('fonts/icomoon.svg?kggxtd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-money:before {
  content: "\f0d6";
}
.icon-cc-visa:before {
  content: "\f1f0";
}
.icon-cc-mastercard:before {
  content: "\f1f1";
}
.icon-cc-amex:before {
  content: "\f1f3";
}
.icon-add:before {
  content: "\e145";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-attach_money:before {
  content: "\e227";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-laptop:before {
  content: "\e31e";
}
.icon-control_point_duplicate:before {
  content: "\e3bb";
}
.icon-delete:before {
  content: "\e872";
}
.icon-directions_car:before {
  content: "\e531";
}
.icon-directions_transit:before {
  content: "\e535";
}
.icon-home:before {
  content: "\e88a";
}
.icon-local_play:before {
  content: "\e553";
}
.icon-local_atm:before {
  content: "\e53e";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-movie_creation:before {
  content: "\e404";
}
.icon-remove:before {
  content: "\e15b";
}
.icon-restaurant:before {
  content: "\e56c";
}
.icon-shopping_basket:before {
  content: "\e8cb";
}
.icon-swap_horiz:before {
  content: "\e8d4";
}
